doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Help us celebrate our promise to spend the rest of our lives together!')
    meta(itemprop='name', content='Maria and Jason are getting married!')
    meta(itemprop='description', content='Help us celebrate our promise to spend the rest of our lives together!')
    meta(name='twitter:card', content='Maria and Jason are getting married!')
    meta(name='twitter:title', content='Maria and Jason are getting married!')
    meta(name='twitter:description', content='Help us celebrate our promise to spend the rest of our lives together!')
    meta(name='twitter:creator', content='@jasonleefrench')
    meta(property='og:url', content='http://mariaandjason.co.uk')
    meta(property='og:title', content='Maria and Jason are getting married!')
    meta(property='og:description', content='Help us celebrate our promise to spend the rest of our lives together!')
    meta(property='og:site_name', content='Maria and Jason are getting married!')
    title= title
    link(href='css/bootstrap.min.css', rel='stylesheet')
    link(href='css/font-awesome.min.css', rel='stylesheet')
    link(href='css/main.css', rel='stylesheet')
    link(href='css/responsive.css', rel='stylesheet')
    //if lt IE 9
      script(src='/js/html5shiv.js')
      script(src='/js/respond.min.js')
  // /head
  body
    .modal.fade(role='dialog')
      .modal-dialog
        .modal-content
          .modal-body
            p=message
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
    div.hearts
    section#home-slider
      .container
        .row
          .main-slider
            .slide-text
              h1 
                span
                 | Maria & Jason are getting married 
                span.smaller
                 | on 16
                 sup th 
                 | July 2017!
            img.slider-us(src='https://pbs.twimg.com/profile_images/630090688512806912/HAtaYmm3_400x400.jpg', alt='slider image')
            ul.nav
              li#how-to-get-there
                a(href='#how-to-get-there') How to get there
              li#rsvp
                a(href='#rsvp') RSVP
              li#gifts
                a(href='#gifts') Gifts
              li#accommodation
                a(href='#accommodation') Accommodation
              li#our-story
                a(href='#our-story') Our Story

    section#section-how-to-get-there
      .container
        .text-row
          h2 How to get there
          p 
            | The wedding and reception will be held in the New Forest at the beautiful 
            a(href='https://www.newforesthotels.co.uk/beaulieu-hotel/') Beaulieu Hotel
            | . 
          p
            | It's about a half-hour drive from Southampton. The closest railway station – about a minute's walk away – is Beaulieu Road.
  
    section#section-rsvp
      .container
        .text-row
          h2 RSVP
          | Please RSVP 
          a(href='/rsvp') by logging in to Facebook 
          | or emailing 
          a(href='mailto:mariaandjasonaregettingmarried@gmail.com' title='MariaAndJasonAreGettingMarried@gmail.com') MariaAndJasonAreGettingMarried@gmail.com
          | . Please include the following details: 
          ul 
            li Name of attendee(s);
            li Any dietary requirements;
            li A song request, if you have one
      
    section#section-gifts
      .container
        .text-row
          h2 Gifts
          p 
            | Please don't feel obliged to give gifts; we have everything we need (most of all, love!). However, we will have pots for monetary donations to:
            ul
              li Cancer Research UK, in memory of Maria's granddad, who sadly lost his battle to oesophageal cancer last year;
              li A GoPro fund, for the recording of our honeymoon and many future adventures
      
    section#section-accommodation
      .container
        .text-row
          h2 Accommodation
          p If you need accommodation, you can stay at the Beaulieu Hotel. Please contact us if you'd like to do this, as we can give you a code for a 10% discount. Alternatively, there are many lovely Bed & Breakfasts in Lyndhurst and Brockenhurst – both a short drive away.

    section#section-our-story
      .container
        .text-row
          h2 Our Story
          p We met during our first year of university at a gecko Christening party back in February 2012 (yes, we know this is very odd). A week and a trip to Somerset later, we were inseparable and have been ever since. We found unity in our shared sense of weird humour and our undying love for cats.
          p After Maria finished her last Master's exam, Jason proposed on 22nd May 2015 at Primrose Hill in Regent's Park in the way shy people propose (very subtly). 
          p And then we were engaged!
          p It took us two years to organise a wedding, but we got there in the end.
          p Over the past five years, we've been through flat floods, university woes and shared cat births, many successes and incredible journeys together. We've experienced some of the best and some of the most stressful times of our lives. We've watched each other grow into the people we are today.
          p On 16th July 2017, we hope to celebrate our promise to spend the rest of our lives together. We're eternally thankful to our family and friends for everything we've been through together, and we're very excited to celebrate this special day with you.
          
    section#credits
      .container
        .text-row
          p 
            | Created with 
            span.hearts-button ❤️ 
            | by 
            a(href='http://jasonleefrench.co.uk') Jason French
            |  and Maria Selles

    script(type='text/javascript', src='/js/canvas.js')
    script(type='text/javascript', src='/js/jquery.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')
    script(type='text/javascript', src='/js/lightbox.min.js')
    script(type='text/javascript', src='/js/wow.min.js')
    script(type='text/javascript', src='/js/main.js')
    script(type='text/javascript', src='/js/hearts.js')
